*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    font-size: 2rem;
    text-align: center;
}

h1{
    margin: 2rem 0;
}

div.mail{
    margin-top: 5rem;
    font-size: 1.7rem;
}

#output-mail{
    margin-top: 2rem;
    font-size: 1.3rem;
}